body{
  margin-top: 50px;
  font-family: 'Noticia Text', serif;
}
#body-a4{
  background-color: #D3D3D3;
  width: 900px;
  border-color: #D3D3D3;
  border-style: solid;
  border-radius: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#top-header{
  font-weight: bold;
  Margin-top: 50px;
  margin-bottom: 10px;
  font-size: 35px;
}
#second-header{
  font-size: 22px;
  font-style: italic;
  margin-bottom: 20px;
}
#tzar-image{
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#header-year{
  font-weight: bold;
  margin-top: 8px;
  margin-left: 50px;
  font-size: 20px;
}
#obs-info{
  margin-top: 2px;
  margin-left: 50px;
  font-size: 14px;
  font-style: italic;
}
.ptext{
  text-align: justify;
  margin-right: 50px;
  margin-left: 50px;
}
#order-list{
  text-align: justify;
  margin-left: 40px;
  margin-right: 50px;
}
#sol-vid{
  margin: 8px 0px 0px 10px;
}

#mollyted{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  width: 800px;
}
#footer{
  text-align: right;
  margin-right: 50px;
  font-style: italic;
}